<section>
  <h1>About Me</h1>
<p>
My name is Cristina Meţgher and I am a 4-th year PhD Student in <a href="http://www.css.gmu.edu/"> Computational Social Science</a> at the Krasnow Institute for Advanced Study, <a href="http://www.gmu.edu/">GMU</a>. In my dissertation I use Agent Based Modeling and Social Network Analysis to better understand the social determinants of cancer. I have a MSc degree in Computer Science from <a href="http://www.utm.md">Technical University of Moldova</a>. 
</p>

</section>
